* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #fc4a1a, #f7b733);
    font-family: 'Yusei Magic', sans-serif;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    h1 {
        color: #fff;
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
}

.wrapper {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@import './form';
@import './list';
@import './todo';
@import './extraButtons';

@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');